__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

artifacts/*.pkl
artifacts/*.pt
artifacts/*.json
!artifacts/.gitkeep

reports/figures/*.png
reports/optuna_study.db

.DS_Store
*.swp
Materials/cicids2017_full.zip
data/raw/cicids2017_full.zip
