__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/

data/raw/cicids2017_full.zip
data/processed/*
!data/processed/.gitkeep

!artifacts/.gitkeep

reports/optuna_study.db

.DS_Store
*.swp
Materials/cicids2017_full.zip
data/raw/cicids2017_full.zip
